*~
*.class
/.gradle
/.project
/.classpath
/.settings
/build
/bin
pinkwino/.project
pinkwino/.classpath
pinkwino/.settings/
pinkwino/build
pinkwino/bin
docs/.project
docs/.classpath
docs/.settings/
docs/build
docs/bin

