/*
  This style sheet contains the styles specific to the webwidgets documentation.
  There is nothing in here which you need to use from your own webapp
  (unless you want you app to look like the webwidgets documentation).
*/

/* Fonts */
#logo { font-family: 'Arvo', serif; font-size : 24px; letter-spacing: -1px; font-weight: bold; }
#main { font-family: Vedana, sans; font-size: 14px; }
p { line-height: 150%; }
h1, h2, h3, h4 { font-family: 'Arvo', serif; font-weight: normal; }
h1 { font-size: 28px; font-weight: bold; }
h2 { font-size: 24px; font-weight: normal; }
h3 { font-size: 18px; font-weight: normal; }
#tabs { text-transform: uppercase; font-size: 12px; }
#tabs a { text-decoration: none; }
.tabs a { text-decoration: none; }

/* Layout */

#whole { width: 980px; margin: 0 auto; }
#header { text-align: center; }
#logo { margin: 2em 0; }
#logo p { margin: 0; padding: 0; }

#tabs .ww_tab { float: left; }
#tabs .ww_tab a { display: block; padding: 20px 2em; }
#belowTabs { clear: both; }
.tabs .ww_tab { float: left; }
.tabs .ww_tab a { display: block; padding: 10px 1em; }

#main { margin: 1em 0; }

#navigation { float: left; width: 200px; padding: 40px 1em; }

#columns #content { float:right; width: 650px; padding: 50px 2em; }
#full #content { width: 920px; padding: 50px 2em;}

#belowColumns { clear: both; }
#footer { text-align: center; padding: 1em; }
#search { border: 1px solid #333; float: right; margin-top: -7em; }
#search { padding: 4px 0 4px 0.5em; }
#searchText { border: 0; background: #000; color: #eee; }
#searchSubmit { border: 0px; background: none; }
#shortcut_status { display: none; float: left; border: 4px dotted #333; padding: 0.5em; margin-top: -5em; }


/* Tags */

hr { clear: both; }
h1, h2, h3, h4 { margin: 0; padding: 0; clear: both; }
h1 { margin: 0 0 1em 0; }
h2 { margin: 1em 0; }
h2 { margin-bottom: 20px; padding: 0 0 12px 0; }
h3 { margin: 2em 0 1em 0; }

#navigation h2 { padding: 0 0 12px 15px; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }

ul, ol { padding: 0; margin: 0; }
ul li, ol li { padding: 0; margin: 1em 0 1em 2em; }

table { border-collapse: collapse; }
td, th { border: 1px solid #666; padding: 4px 8px; text-align: left; font-weight: normal; }

pre { padding: 1em; overflow: scroll; }

/* Class Styles */

.tools { float: right; margin: -40px -20px 0 0; }

/* Colors */

body { background: #000; color: #fff; }
a { color: #e44; }
#navigation a, #footer a { color: #888; }
#main { background: #fff; color: #222; border: 1px solid #bbb; border-radius: 2px; }
td { color: #222;  }
th { background: #ddd; color: #333; }
#logo a { color: #fff; text-decoration: none; }

#tabs .ww_tabSelected { background: url('tab.jpg'); }
#tabs .ww_tab a { color: #eee; }
#tabs .ww_tab a:hover { color: #fff; }
.tabs .ww_tabSelected { background: url('tab.jpg'); }
.tabs .ww_tab a { color: #333; }
.tabs .ww_tab a:hover { color: #000; }
.tabs .ww_tabSelected a, .tabs .ww_tabSelected a:hover { color: #fff; }

h2 { border-bottom: 1px solid #bbb; }
ul li:before{ color: #aaa; }
pre { border: 1px solid #333; background: #ccc; }

.mainBox { border: 1px solid #444; padding: 1em; background: #f8f8f8; }
.mainBox .ww_boxTitle { font-size: 16pt; background: #888; color: #000; padding: 0.5em; border: 1px solid #eee; }

.tabsContent { clear: both; border: 1px solid #333; background: #eee; padding: 1em; }


/*
  These styles are used  by the webwidgets tags.
*/
.ww_clickable { cursor: pointer; }
.ww_closed { display: none; }
.ww_maximized .ww_maxButton, .ww_maximized .ww_expandButton, .ww_minimized .ww_minButton, .ww_minimized .ww_contractButton { display: none }
.ww_minimized .ww_maxButton, .ww_minimized .ww_expandButton { display: inline; }
.ww_minimized .ww_minimizable { display :none; }

.ww_boxIcon { float: right; }

/*
  Standard Buttons
*/
.ww_button {}
.ww_minButton:before      { content: url('ww_minimize.png'); }
.ww_maxButton:before      { content: url('ww_maximize.png'); }
.ww_closeButton:before    { content: url('ww_close.png'); }
.ww_contractButton:before { content: url('ww_contract.png'); }
.ww_expandButton:before   { content: url('ww_expand.png'); }

/*
  Quotes
*/
.ww_quote:before { content: "“"; }
.ww_quote:after { content: "”"; }

.ww_quote2:before { content: url('beginQuote.png'); white-space: nowrap; }
.ww_quote2:after { content: url('endQuote.png'); white-space: nowrap; }

/*
  Tree
*/
.ww_treeNodeButton { float: left; }
.ww_tree .ww_treeNodeLabel { font-weight: bold; margin-left: 20px; padding: 1px 0px 3px 0px; }
.ww_tree .ww_treeNodeContent, .ww_tree .ww_treeNodeLastContent { padding: 2px 0px 4px 20px; }
.ww_tree .ww_treeNodeContent { background: repeat-y 6px 0px url(ww_verticalDots.png); }

/* End webwidget styles */


/*
Pinkwino specific classes
*/

.wiki_noEdit .wiki_editSection { display: none; }
.wiki_editSection { float: right; }
.wiki_editSection1 { margin-top: -4em; }
.wiki_editSection2 { margin-top: -3.5em; }
.wiki_editSection3 { margin-top: -2.7em; }
.wiki_editSection4 { margin-top: -2em; }

.wiki_tool { padding-left: 1em; }
.wiki_tool:before { content: "["; }
.wiki_tool:after { content: "]"; }

.wiki_menu a {display: block; margin: 0.8em 1em;  }

.wiki_strike { text-decoration: line-through; }
.wiki_center { text-align: center; }
.wiki_right { text-align: right; }
.wiki_left { text-align: left; }

a.wiki_notFound { color: #00b; text-decoration: underline; }


#wiki_image, .wiki_image { max-width: 100%; max-height: 800px; border-radius: 10px; box-shadow: 10px 10px 10px #ddd; }
.wiki_image_align_center { text-align: center; }
.wiki_image_align_left { text-align: left; }
.wiki_image_align_right { text-align: right; }

.wiki_image_float_left { float: left; text-align: center; }
.wiki_image_float_right { float: right; text-align: center; }

figure { margin: 2em; }
.wiki_image_float_left figure, .wiki_image_align_left figure { margin-left: 0; }
.wiki_image_float_right figure .wiki_image_align_right figure{ margin-right: 0; }

.wiki_thumbnail_float, .thumbnail_container { width: 200px; height: 200px; }
.wiki_thumbnail_float { float: left; }
.thumbnail_container { position: relative; }
.thumbnail_wrapper { position: absolute; bottom: 0px; text-align: center; white-space: nowrap; overflow: hidden; width: 200px; }
.thumbnail_wrapper img { box-shadow: 5px 5px 5px #ddd; border-radius: 4px; }
.wiki_thumbnail_float { margin: 1em; }


.wiki_columns { column-width: 250px; -webkit-column-width: 250px; -moz-column-width: 250px;}
.wiki_column_section { width: 230px; -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid; }
.wiki_column_section,
.wiki_toc { border: 1px solid #f88; border-radius: 10px; box-shadow: 5px 5px 5px #ddd; background: #fee; padding: 1em; margin: 0em 1em 2em 1em;}
.wiki_column_section h2, .wiki_column_section h3 { margin-top: 8px; }

.wiki_infoList li { display: inline; list-style-type: none; }
.wiki_infoList li,
.wiki_pager         {line-height: 2em; padding: 0; margin: 0; line-height: 3em; }
.wiki_infoList li a,
.wiki_pager a       { width: 200px; border: 1px dotted #800; padding: 0.5em 1em; margin: 0 0.3em; white-space: nowrap; }
.wiki_infoList li a:hover { background: #fee; color: #f00; text-decoration: none; }
.wiki_pager { text-align: center; }

#wiki_versions { position: relative; min-height: 10000px; }
#wiki_versionA, #wiki_versionB { position: absolute; top: 0px; left: 0px; }
#wiki_versionA, a.wiki_versionA, .wiki_versionA { color: #060; }
#wiki_versionB, a.wiki_versionB, .wiki_versionB { color: #008; }

#wiki_diffTools { text-align: center; position: fixed; bottom: 0px; left: 0px; background: #fdd; border-top: 1px solid #000; z-index: 1000; width: 100%; padding: 6px 0 0 0; }
.wiki_opacitySlider { padding: 2px; background: #fee; border: 1px solid #e88; }
.wiki_opacitySlider span { padding: 0.5em 1em; font-weight: bold; }

.wiki_searchResultHeading { font-size: 130%; }
.wiki_searchResult .wiki_namespace { font-size: 70%; }
.wiki_searchResult .wiki_namespace:before { content: '('; }
.wiki_searchResult .wiki_namespace:after { content: ')'; }
.wiki_searchResult { margin: 0 0 1.5em 0; }
.wiki_lastUpdated { color: #080; font-size: 80%; margin-top: 4px; }

.googleMap_map { width: 600px; height: 400px; }


@media (max-width: 1000px) {
  #whole { width: 100%; }
  #full #content, #columns #content { width: 100%; float: none; width: inherit; margin-left: 2em; margin-right: 2em; }
  #navigation { float: none; width: inherit; margin-top: 2em; }
  #navigation ul { line-height: 200%; }
  #navigation ul li { display: inline; padding: 0 1em 0 0; }
  #navigation ul li:before{ padding: 0; content: ""; }
}

/* Search Results */

.searchResult h3 { margin: 0 }
.searchResult p { margin: 0 0 1em 0; }
#searchResults .url a { color: #080; font-size: 80%; }
#largeSearchBox { width: 90%; }
#searchForm { text-align: center; }

/* Pager */

.pager { text-align: center; margin: 3em 0; } 
.pager a { padding: 0.5em; }
.pager .currentPage { border: 1px solid #888; padding: 3px; border-radius: 4px; }
.pager a:hover{ background: #e44; border-radius: 4px; color: #fff; text-decoration: none; }

